<h2 mat-dialog-title>{{title}}</h2>
<mat-divider></mat-divider>

<mat-dialog-content [formGroup]="form">
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <div >
                <mat-form-field>
                  <mat-label>Full Name:</mat-label>
                  <input matInput placeholder="John Doe" formControlName="name" required>
                  <mat-error *ngIf="form.get('name')?.invalid || form.get('name')?.dirty || form.get('name')?.touched">Enter Full Name</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Mobile Number:</mat-label>
                    <input matInput placeholder="9008765431" formControlName="mobile" required>
                    <mat-error *ngIf="form.get('mobile')?.invalid || form.get('mobile')?.dirty || form.get('mobile')?.touched">Enter Valid Mobile Number</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email:</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required>
                    <mat-error *ngIf="form.get('email')?.invalid || form.get('email')?.dirty || form.get('email')?.touched">Enter Valid email</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Enter Qualification</mat-label>
                    <input matInput placeholder="MBBS" formControlName="qualification" required>
                    <mat-error *ngIf="form.get('qualification')?.invalid || form.get('qualification')?.dirty || form.get('qualification')?.touched">Enter Valid Qualification</mat-error>
                </mat-form-field>
            </div>      
        </mat-grid-tile>

        <mat-grid-tile>
            <div>
                <mat-label>Gender</mat-label> <br>   
                <mat-radio-group aria-label="Select an gender" color="primary" formControlName="gender">
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                    <mat-radio-button value="other">Other</mat-radio-button>
                </mat-radio-group> 
                
                <mat-form-field>
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="department" name="department">
                      <mat-option *ngFor="let department of departments" [value]="department">
                        {{department}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Birth date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthdate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="form.get('birthdate')?.invalid || form.get('birthdate')?.dirty || form.get('birthdate')?.touched">Enter Birth Date</mat-error>
                  </mat-form-field>
                  
            </div>
        </mat-grid-tile>
    </mat-grid-list>


</mat-dialog-content>

<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close (click)="cancelRegistration()">Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial (click)="registerDoctor()" [disabled]="form.invalid">Register</button>
</div>
